<!doctype html>
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title My travel camera bag: how to prepare for a photo trip abroad
    %meta{:content => "Adam Derewecki", :name => "author"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "reveal/css/reset.css", :rel => "stylesheet"}/
    %link{:href => "reveal/css/main.css", :rel => "stylesheet"}/
    %link{:href => "highlight/src/styles/solarized_dark.css", :rel => "stylesheet"}/
    %link{:href => "causes.css", :rel => "stylesheet"}/
    / overrides for default reveal styles
    :css
      .reveal pre {
        font-size: 24px;
      }
  %body#derwiki-presentation
    .reveal
      .slides

        %section
          %h2 My travel camera bag
          %h3 How to prepare for a photo trip abroad
          %br
          %i presented by:
          %h4 Adam Derewecki
          %h4 adam@cameralends.com
          %h4 CameraLends Founder
          %h4 May 13, 2014
          %h4 Photographers Adventure Club

        %section
          %h2 Hi, I'm Adam
          %img{ src: 'assets/adam-with-camera.jpg', style: 'height: 200px;' }
          %ul
            %li.fragment
              Moved to San Francisco from Cleveland six years ago
            %li.fragment
              "Into" photography for nine years
            %li.fragment
              Run a peer-to-peer camera rental web site (CameraLends.com)

        %section
          %h2 Travel photography
          %ul
            %li.fragment
              Combines love of traveling and love of photography
            %li.fragment
              Create memories worth hanging on your wall, not just Instagram
            %li.fragment
              Not high commercial value, compared to paid gigs
            %li.fragment
              Mostly done for the love of it

        %section
          %h2 My travel route
          %img.full{ src: 'assets/travel-route.jpg' }

        %section
          %h2 Destination considerations: safety
          %ul
            %li.fragment
              Hawaiian beaches are very different than Brazilian flavelas
            %li.fragment
              Don't advertise your camera collection in unsavory places
            %li.fragment
              I've swapped a Rebel XTI shoulder band for my Mark II
            %li.fragment
              Keep your camera tucked away in dodgy areas
            %li.fragment
              Not everyone wants their picture taken -- don't provoke locals

        %section
          %h2 Beijing market
          %img.full{ src: 'assets/engrish-the-north-face.jpg'  }

        %section
          %h2 Beijing market: blocked!
          %img.full{ src: 'assets/engrish-the-north-face-blocked.jpg'  }

        %section
          %h2 Destination considerations: portability
          %ul
            %li.fragment
              Which gear should you bring?
            %li.fragment
              How much does your gear weigh?
            %li.fragment
              How do you pack your gear?

        %section
          %h2 National Geographic Medium Rucksack
          %img.full{ src: 'assets/packed-backpack.jpg' }

        %section
          %h2 My gear
          %ul
            %li.fragment
              Canon 5D Mark II
            %li.fragment
              Canon 24-70mm f/2.8L
            %li.fragment
              Canon 50mm f/2.8 Macro
            %li.fragment
              Canon 8-15 f/4L Fisheye
            %li.fragment
              Polaroid 42" Travel Tripod
              %br
              ($20, amzn.com/B004W4BAUO)
            %li.fragment
              Canon TC80N3 compatible intervalometer
              %br
              ($36, amzn.com/B002IPMQTS)
            %li.fragment
              Misc: 32 GB Flash card, battery charger, battery, lens cloth

        %section
          %h2.text-center Canon 5D Mark II
          %div.text-center
            %img{ src: 'assets/canon-5d-markii.jpg', style: 'height: 200px'  }
          %ul
            %li.fragment
              Launched in 2008
            %li.fragment
              22 megapixels, full frame
            %li.fragment
              %i House
              sixth season finale shot on Mark IIs

        %section
          %h2 Mark II benefits
          %ul
            %li.fragment
              Battery life was several days
            %li.fragment
              Fantastic sensor quality
            %li.fragment
              Great in low-light
            %li.fragment
              Shoots in RAW format
            %li.fragment
              You're shooting in RAW format right?
            %li.fragment
              Drawback: others can't take a picture of you

        %section
          %h2.text-center Canon 24-70mm f/2.8L
          .text-center{ style: 'text-align: center' }
            %img{ src: 'assets/canon-24-70-l-usm.jpg', style: 'height: 200px'  }
          %ul
            %li.fragment
              L series
            %li.fragment
              24-70mm is versatile for wide angle and portrait
            %li.fragment
              f/2.8 works wonders in low-light like caves
            %li.fragment
              Drawback: heavy/bulky (esp compared to 50mm)

        %section
          %h2 Huangshan caves
          %img.full{ src: 'assets/caves.jpg'  }

        %section
          %h2.text-center Canon 50mm f/2.5 Macro
          .text-center
            %img{ src: 'assets/canon-50mm-macro.jpg', style: 'height: 200px'  }
          %ul
            %li.fragment
              EF Macro
            %li.fragment
              50mm is a bit constraining, which is a feature
            %li.fragment
              f/2.5 gives great depth of field
            %li.fragment
              %i Fantastic
              image quality

        %section
          %h2 Monkey Rock at sunrise (50mm)
          %img.full{ src: 'assets/monkey-rock-sunrise-50mm.jpg'  }

        %section
          %h2.text-center Canon 8-15mm f/4L Fisheye
          .text-center
            %img{ src: 'assets/canon-8-15mm-fisheye.jpg', style: 'height: 200px'  }
          %ul
            %li.fragment
              L Series (upgrade from Bower 8mm)
            %li.fragment
              All available focal lengths are wacky, mostly impractical
            %li.fragment
              Girlfriend says it's unflattering for portraits
            %li.fragment
              %i Sometimes
              it can give you an amazing result though

        %section
          %h2 9 Bends River, Wuyishan
          %img.full{ src: 'assets/wuyishan-entrenched-meander-iphone.jpg' }
          %div taken with iPhone

        %section
          %h2 9 Bends River, Wuyishan
          %img.full{ src: 'assets/wuyishan-entrenched-meander.jpg' }
          %div taken with Fisheye at 15mm

        %section
          %h2 Guadalupe National Park
          %img.full{ src: 'assets/new-mexico-night-sky.jpg' }
          %div taken with Fisheye at 15mm

        %section
          %h2 Guadalupe National Park
          %img.full{ src: 'assets/new-mexico-night-sky-with-constellations.jpg' }
          %div taken with Fisheye at 15mm

        %section
          %h2 Tripod and intervalometer
          %ul
            %li.fragment
              Similar to fisheye -- often impractical, but can capture a
              scene in a very distinctive way
            %li.fragment
              We had a balcony on the 16th floor in Xiamen
            %li.fragment
              Taped the tripod to the balcony railing and took a timelapse
              from 2am until about 9am

        %section
          %h2 Xiamen sunrise (vimeo.com/93113912)
          %a{ href: 'https://vimeo.com/93113912' }
            %img.full{ src: 'assets/xiamen-sunrise.jpg' }

        %section
          %h2 Auto Exposure Bracketing
          %ul
            %li.fragment
              Quickly snap 3 shots at different exposures
            %li.fragment
              %img{ src: 'assets/aeb-settings.jpg' }
            %li.fragment
              3 chances to make sure one turns out well

        %section
          %h2 Auto Exposure Bracketing
          %img.full{ src: 'assets/aeb-example.jpg' }

        %section
          %h2 AEB is a way to plan for unexpected
          %ul
            %li.fragment Hiking in the morning, shooting at f/8.0 ISO 100
            %li.fragment Suddenly, I saw something on the trail I wanted a photo of
            %li.fragment Not much time to think or I'd miss the shot

        %section
          %h2 EV 0, 1/60s
          %img.full{ src: 'assets/bamboo-chariot-1.jpg' }

        %section
          %h2 EV -1, 1/125s
          %img.full{ src: 'assets/bamboo-chariot-2.jpg' }

        %section
          %h2 EV +1 1/30s
          %img.full{ src: 'assets/bamboo-chariot-3.jpg' }

        %section
          %h2 Check your settings regularly
          %ul
            %li.fragment Are you in RAW mode full resolution
            %li.fragment Are you in the proper mode?
            %li.fragment Are you paying attention to autofocus points?
            %li.fragment Is your aperture setting appropriate?

        %section
          %h2 Be ready for the shot
          %ul
            %li.fragment
              Sunrise/sunset
            %li.fragment
              The first/last rays of light don't stick around long, ~2-8 minutes
            %li.fragment
              Losing a few minutes to a lense change or adjusting your settings
              can cut your shooting time in half
            %li.fragment
              Stick with a versatile lense when you think you'll be time crunched

        %section
          %h2 Mountain at sunset
          %img.full{ src: 'assets/misty-mountain-at-dusk.jpg' }

        %section
          %h2 Photographers at sunset
          %img.full{ src: 'assets/photographers-at-sunset.jpg' }

        %section
          %h2 Monkey rock at sunrise
          %ul
            %li.fragment three days in Huangshan (Yellow Mountains)
            %li.fragment rained the first day
            %li.fragment completely foggy the second day (except sunset)
            %li.fragment due for a clear sunrise
            %li.fragment woke up at 4am, hit the trail at 4:20am, reached peak at 5am
            %li.fragment had to climb over/around people for unobstructed view
            %li.fragment some photographers had been there since 3:30am
            %li.fragment sunrise around 5:30am

        %section
          %h2 Monkey Rock sunrise (24mm)
          %img.full{ src: 'assets/monkey-rock-24mm.jpg' }

        %section
          %h2 Serious photographers
          %img.full{ src: 'assets/serious-photographers.jpg' }

        %section
          %h2 A trick that works in China
          %ul
            %li.fragment
              While researching Dajinhi on Wikitravel, one review said
              "everyone follows each other in a bunch; if you go ten feet
              out of the way you'll have a clear shot"
            %li.fragment
              Unbelievably accurate.
            %li.fragment
              My theory: everyone wants exactly the same tourist photo and
              don't stray far from the beaten path
            %li.fragment
              That seemed to be a common trend, people would rush to get a
              photo of them near something and then rush off again

        %section
          %h2 Forbidden City
          %img.full{ src: 'assets/forbidden-city-lines.jpg' }


        %section
          %h2 Locations
          %ul
            %li.fragment
              Research ahead of time if possible (Wikitravel, TripAdvisor)
            %li.fragment
              Visit most popular places during off hours, e.g. weekdays, during lunch, etc
            %li.fragment
              Best lighting ("magic hour") at sunrise and sunset
            %li.fragment
              Ask hotel/hostel staff about weather conditions
            %li.fragment
              \... but weather predictions are often wrong
            %li.fragment
              Locals (friends, family, tour guides) are worth their weight in gold

        %section
          %h2 Huangcun
          %img.full{ src: 'assets/hongcun.jpg' }

        %section
          %h2 Culling and post-processing
          %ul
            %li.fragment
              If I leave all my photos until I get home, they sit
            %li.fragment
              Also don't want to spend your whole trip editing photos
            %li.fragment
              Have a strategy
            %li.fragment
              I took over 3000 photos in three weeks

        %section
          %h2 My travel photo management strategy
          %ul
            %li.fragment
              32 GB flash card, Macbook with about 60 GB free
            %li.fragment
              Dump photos as often from card to laptop
            %li.fragment
              Delete obviously bad photos from laptop often
            %li.fragment
              %i Especially
              if you're using AEB, you can usually dump 66% of photos
            %li.fragment
              Resist urge to edit to perfection
            %li.fragment
              \... unless you really want to upload to Flickr ;-)

        %section
          %h2 Don't get caught off guard
          %ul
            %li.fragment
              Your photo management strategy should not depend on Internet
            %li.fragment
              Don't wait until your battery is dead to charge it
            %li.fragment
              If the photos are very important, bring multiple external hard drives
            %li.fragment
              Bring a lens cloth, rainjacket if raining
            %li.fragment
              Guard your camera in a crowd

        %section
          %h2 Rent the best gear
          %ul
            %li.fragment Photography is expensive
            %li.fragment Hard to justify 2k for a lens you use 5 weeks/year
            %li.fragment Local rental shops (Adolph Gasser, Samy's)
            %li.fragment Online rental shops (BorrowLenses)
            %li.fragment Peer-to-peer rentals

        %section
          %h2 CameraLends
          %ul
            %li.fragment Over 200 cameras and lenses
            %li.fragment Most dense over the Bay Area
            %li.fragment Flexible pickup and dropoff times
            %li.fragment Often less expensive than other options (1-day)
            %li.fragment Builds a connection with another photographer

        %section
          %h2 CameraLends
          %img.full{ src: 'assets/cameralends-screenshot.jpg' }

        %section
          %h2 Questions?

        %section
          %h2 More information
          %ul
            %li Adam Derewecki (adam@cameralends.com)
            %li
              %a{ href: 'https://www.flickr.com/photos/derewecki/collections/' }
                flickr.com/photos/derewecki/collection
            %li
              %a{ href: 'https://wwww.cameralends.com' } CameraLends.com
            %li
              %a{ href: 'https://github.com/derwiki/presentation-travel-photography' }
                github.com/derwiki/presentation-travel-photography
      /
        required for correct operation of reveal.js,
        even if we don't want controls
      %aside.controls
        %a.left{:href => "#"} &#x25c4;
        %a.right{:href => "#"} &#x25ba;
        %a.up{:href => "#"} &#x25b2;
        %a.down{:href => "#"} &#x25bc;

    %script{:src => "reveal/js/reveal.min.js"}
    %script{:src => "highlight/build/highlight.pack.js"}
    :javascript
      Reveal.initialize({
        controls: false,
        progress: false,
        history: true,
        mouseWheel: false,
        rollingLinks: false,
      });
      hljs.initHighlightingOnLoad();
